body {
    background: #fafafa;
    font-family: Montserrat;
    color: #333;
}

.question {
    margin: 0 auto;
    max-width: 500px;
    font-size: 30px;
    font-weight: 200;
    line-height: 20px;
    background-color: #eee;
    border-radius: 6px;
    padding: 5px;
}

.question h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}